body, p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
}
.header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.header {
  margin-top: 0;
  background-image: url(../images/the-flatiron-building.png);
}
a {
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 1.5em;
}
h2, h3, h3.designed {
  font-size: 32px;
  font-weight: bold;
}
h3.designed {
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}
h3 {
  font-size: 23px;
}
.footer p {
  color: white;
  background-color: dimgray;
}
.footer a {
  font-weight: normal;
}
